extends ./main.pug
block content

        body
            .card.card-body.bg-dark.p-5.mt-4(background-color:='' #00aa9e='')
                h1.display-4(style='color:white') Virrículum Vitae
                p.lead(style='color:white')
                    |Motivate yourself while you make your resum
                hr.my-4
                div
                    a.btn.btn.btn-lg(href='https://www.youtube.com/watch?v=3inw26U-os4', role='button',style='background-color:white;color:red') Click here
